<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bier aanbiedingen</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
    <div class="container">
        <form action="/aanbiedingen" method="post" onsubmit="submitBtn.disabled = true">
          <input name="merk" type="text" class="ghost-input" placeholder="Enter een merk">
          <select class="ghost-dropdown" name = "store">
              <option></option>
            <% for ( let i = 0; i < (storeDataResponse && storeDataResponse.length); i++ ) { %>
              <option value = '<%= storeDataResponse[i] %>' > <%= storeDataResponse[i] %> </option>
            <% } %>
            </select>
            <select class="ghost-dropdown" name = "volume">
              <option></option>
              <option>Krat</option>
              <option>Sixpack</option>
              <option>Tray</option>
              <option>Blik</option>
              <option>Fles</option>
              <option>Vat</option>
              <option>Doos</option>
              <option>Set</option>
            </select>
          <input type="submit" class="ghost-button" value="Aanbiedingen" name = "submitBtn">
        </form>
        <section>
          <h1>Beer</h1>
          <div class="tbl-header">
            <table cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th>Brand</th>
                  <th>Store</th>
                  <th>oldPrice</th>
                  <th>newPrice</th>
                  <th>Volume</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <% for (let i = 0; i < (pilsDataResponse && pilsDataResponse.length); i++) { %>
                  <td><%= pilsDataResponse[i].brand %></td>
                  <td><%= pilsDataResponse[i].store %> </td>
                  <td><%= pilsDataResponse[i].oldPrice %></td>
                  <td><%= pilsDataResponse[i].newPrice %></td>
                  <td><%= pilsDataResponse[i].volume %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </section>
    </div>
  </body>
</html>