<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bier aanbiedingen</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css">
  </head>
  <div id="glass">
      <div id="beer"></div>
    </div>
    <div id="poignet"></div>
    <div id="mousse_1"></div>
    <div id="mousse_2"></div>
    <div id="mousse_3"></div>
    <div id="mousse_4"></div>
    <div id="mousse_5"></div>
    <div id="mousse_volante"></div>
    <div id="mousse_interieur"></div>
    <div id="mousse_interieur_2"></div>
    <div id="mousse_interieur_3"></div>
    <div id="mousse_interieur_4"></div>
    <div id="text">
    <div class="container">
        <form action="/aanbiedingen" method="post" onsubmit="submitBtn.disabled = true">
          <input name="merk" type="text" class="ghost-input" placeholder="Enter een merk" minlength="3" required>
          <input type="submit" class="ghost-button" value="Aanbiedingen" name = "submitBtn">
        </form>
        <!-- <table>
          <tr>
            <th>Merk</th><th>Winkel</th><th>prijsOud</th><th>prijsNieuw</th><th>hoeveelheid</th>
          </tr>

          <% for (var i = 0; i < pilsDataResponse.length; i++) { %>
            <tr>
              <td><%= pilsDataResponse[i].brand %></td>
              <td><%= pilsDataResponse[i].store %></td>
              <td><%= pilsDataResponse[i].oldPrice %></td>
              <td><%= pilsDataResponse[i].newPrice %></td>
              <td><%= pilsDataResponse[i].volume %></td>
            </tr>
          <% } %>
        </table> -->
        <div class="Aanbiedingen"> 
          <ul style="list-style-type:none">
            <% for (var i = 0; i < pilsDataResponse.length; i++) { %>
            <li class="Aanbieding">
                <div class="Icon">
                  <img src = "/images/test.png" alt = "biertest">
                  <img>
                </div>
              <div class = "data">
                <%= pilsDataResponse[i].volume %>
                <%= pilsDataResponse[i].brand %>
                <%= pilsDataResponse[i].newPrice %>
                <%= pilsDataResponse[i].store %>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
    </div>
  </body>
</html>
